@use '../utils' as *;

.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(24, 24, 24, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.45s ease-in-out;
  &.apply {
    opacity: 1;
    visibility: visible;
  }
}
.it-instagram {
  & img {
    width: 100%;
  }
}

.language-selector {
  margin-top: 20px;
  position: relative;
}

.dropdown-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-button img {
  border-radius: 4px;
}

.dropdown-button:hover {
  background-color: #eaeaea;
}

.dropdown-button .fa-chevron-down {
  margin-left: auto;
  transition: transform 0.3s;
}

.dropdown-button .rotate {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 4px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.dropdown-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-list li:hover {
  background-color: #f4f4f4;
}

.dropdown-list li.active {
  background-color: #e0e0e0;
  font-weight: bold;
}


.language-selector span {
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.language-selector ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.language-selector li {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.language-selector li:hover {
  background-color: #f0f0f0;
}

.language-selector li.active {
  background-color: #e0e0e0;
  font-weight: bold;
}

.itoffcanvas {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  right: -100%;
  width: 480px;
  bottom: 0;
  box-shadow: 0 16px -32px 0 rgba(0, 0, 0, 0.8);
  background-color: var(--it-common-black);
  z-index: 9999;
  padding: 50px;
  scrollbar-width: none;
  opacity: 0;
  visibility: hidden;
  transition: 0.45s ease-in-out;
  overflow-y: scroll;
  &.opened {
    opacity: 1;
    visibility: visible;
    right: 0;
  }
  @media #{$xs,} {
    width: 300px;
    padding: 40px 35px;
  }
  @media #{$sm} {
    width: 400px;
    padding: 40px;
  }
  &.opened {
    right: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-duration: 0.6s;
  }

  &__logo {
    margin-bottom: 20px;
    @media #{$xs,$md} {
      padding-top: 0;
    }
    & img {
      width: 120px;
      height: 100%;
    }
  }

  &__close-btn {
    & button {
      font-size: 35px;
      color: white;
      position: absolute;
      right: 50px;
      top: 42px;
      transition: 1s;
      font-weight: 300;
      opacity: 0.2;
      -webkit-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      -moz-transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition-duration: 0.3s;
      @media #{$md} {
        font-size: 28px;
        right: 48px;
        top: 52px;
      }
      @media #{$xs} {
        font-size: 28px;
        right: 39px;
        top: 38px;
      }
      &:hover {
        color: #fff;
        opacity: 1;
      }
    }
  }
  &__content {
    margin-bottom: 30px;
    & p {
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 25px;
    }
    & span {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
      display: inline-block;
    }
    & a {
      font-size: 30px;
      line-height: 51px;
      font-weight: 700;
      color: var(--it-common-white);
      display: inline-block;
      @media #{$xs} {
        font-size: 27px;
      }
    }
  }
  &__social {
    margin-top: 50px;
    & .social-icon {
      & a {
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        background-color: var(--it-theme-1);
        color: var(--it-common-white);
        margin-right: 15px;
        transition: 0.3s;
        display: inline-block;
        border-radius: 50%;
        @media #{$xs} {
          margin-right: 3px;
        }
        &:hover {
          background-color: var(--it-theme-1);
          color: var(--it-common-white);
        }
      }
    }
  }
  &__text {
    border-bottom: 1px solid #3b3838;
    // color: var(--it-common-white);
    padding-bottom: 20px;
    margin-bottom: 20px;
    @media #{$md,$xs} {
      display: none;
    }
    & p {
      color: #ddd;
      font-size: 18px;
    }
  }
  &__info {
    border-bottom: 1px solid #3b3838;
    padding-bottom: 30px;
    margin-bottom: 20px;
    // font-size: 12px;
    & .offcanva-title {
      color: var(--it-common-white);
      margin: 30px 0 40px 0;
      font-size: 20px;
      font-weight: 600;
    }
    &-icon {
      & a {
        height: 50px;
        width: 50px;
        background-color: var(--it-theme-1);
        color: var(--it-common-white);
        display: inline-block;
        text-align: center;
        line-height: 50px;
        border-radius: 50px;
        font-weight: 400;
        font-size: 21px;
        margin-right: 20px;
      }
    }
    &-address {
      // font-size: 12px;
      & span {
        display: block;
        color: #6DA48F;
        font-size: 14px;
        font-weight: 400;
      }
      & a {
        display: block;
        color: var(--it-common-white);
        font-size: 12px;
        font-weight: 600;
        transition: 0.3s;
        @media #{$xs} {
          font-size: 12px;
        }
        &:hover {
          color: var(--it-theme-1);
        }
      }
    }
  }
}

.it-offcanva-bottom-shape {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  & img {
    width: 100%;
  }
}

.itoffcanvas__info-address a {
  font-size: 14px; // Ajusta el tamaño según lo que necesites
  color: var(--it-common-white); // Mantiene el color blanco o lo que hayas definido
  text-decoration: none;

  &:hover {
    color: var(--it-theme-1); // Cambio de color al pasar el ratón
  }
}

@media (max-width: 576px) {
  .itoffcanvas__info-address a {
    font-size: 12px; // Tamaño más pequeño en dispositivos móviles
  }
}
