@use '../utils' as *;

/*----------------------------------------*/
/*  06. contact css start
/*----------------------------------------*/
.it-contact {

  &-area {
    @media #{$lg,$md,$xs, $sm} {
      padding-top: 20px;
    }

  }

  &-form-box {
    margin-right: 70px;
    @media #{$lg,$md,$xs} {
      margin-right: 0;
    }
  }
  &-input-box {
    text-transform: none;
    & input {
      text-transform: none;
      height: 58px;
      line-height: 58px;
      border-radius: 5px;
      border: 1px solid rgba(107, 111, 106, 0.3);
      &:focus {
        border: 1px solid var(--it-theme-1);
      }
    }
  }
  &-textarea-box {
    text-transform: none;
    & textarea {
      text-transform: none;
      height: 150px;
      border-radius: 5px;
      resize: none;
      padding: 17px 30px;
      border: 1px solid rgba(107, 111, 106, 0.3);
      &:focus {
        border: 1px solid var(--it-theme-1);
      }
    }
  }
  &-right {
    border-radius: 10px;
    padding: 60px 45px;
    padding-bottom: 24px;
    margin-left: -24px;
    background-color: var(--it-theme-1);
    @media #{$lg} {
      margin-left: 0;
    }
    @media #{$md, $sm} {
      // font-size: 32px;
      margin-left: 0;
      margin-top: 50px;
    }
    @media #{$xs} {
      // font-size: 32px;
      padding: 40px 25px;
      padding-bottom: 20px;
      margin-left: 0;
      margin-top: 50px;
    }
    & ul {
      & li {
        list-style-type: none;
        margin-bottom: 27px;
      }
    }
  }
  &-box {
    @media #{$lg,$md,$xs,$sm} {
      // font-size: 32px;
    }
    display: flex;
    align-items: flex-start;
  }
  &-icon {
    & span {
      display: inline-block;
      height: 62px;
      width: 62px;
      line-height: 59px;
      border-radius: 50%;
      color: var(--it-theme-1);
      text-align: center;
      margin-right: 25px;
      background-color: var(--it-common-white);
    }
  }
  &-text {
    & span {
      font-weight: 400;
      font-size: 17px;
      text-decoration: underline;
      color: #fff;
      display: block;
      margin-bottom: 12px;
    }
    & a {
    @media #{$lg,$md,$xs,$sm} {
      font-size: 14px;
    }
      display: block;
      font-weight: 700;
      font-size: 17px;
      color: #fff;
      line-height: 30px;
    }
  }
}
.it-map {
  &-area {
    & .it-discover-maps {
      & iframe {
        height: 540px;
        @media #{$lg,$md,$xs} {
          height: 400px;
        }
      }
    }
  }
}

.it-sign-up {
  &-wrap {
    border-radius: 5px;
    background-color: #f3f8f6;
  }
  &-thumb {
    width: 100%;
    @media #{$md,$xs} {
      padding: 40px 20px;
      text-align: center;
    }
    & img {
      border-radius: 0 5px 5px 0;
      @media #{$md,$xs} {
        border-radius: 5px;
      }
    }
  }
  &-left {
    padding: 30px 70px;
    padding-right: 0;
    @media #{$lg} {
      padding: 30px 0px;
      padding-left: 20px;
    }
    @media #{$md,$xs} {
      padding: 30px;
    }
    & .it-contact-input-box {
      & input {
        border: 1px solid rgba(107, 111, 106, 0.3);
        border-radius: 5px;
      }
    }
  }
  &-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: var(--it-common-black);
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(107, 111, 106, 0.3);
  }
  &-social {
    @media #{$xs} {
      margin-top: 20px;
    }
    & span {
      margin-right: 15px;
    }
    & a {
      margin: 0 6px;
    }
  }
  &-bottom {
    & span {
      & a {
        color: #ff6525;
      }
    }
  }
  &-forget {
    & a {
      color: #ff0000;
      font-size: 15px;
    }
  }
  &-remember {
    & input {
      display: none;
      &:checked {
        & ~ label {
          &::after {
            background-color: var(--it-theme-1);
            border-color: var(--it-theme-1);
          }
          &::before {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    & label {
      font-size: 16px;
      position: relative;
      padding-left: 30px;
      z-index: 1;
      @media #{$xs} {
        font-size: 13px;
      }
      @media #{$sm} {
        font-size: 15px;
      }
      &::after {
        position: absolute;
        content: '';
        top: 2px;
        left: 0;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 3px;
        z-index: -1;
        transition: 0.3s;
        border: 1px solid #e2e1e1;
        background-color: var(--it-common-white);
      }
      &::before {
        position: absolute;
        content: '\f00c';
        top: 3px;
        left: 3px;
        font-size: 11px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        color: var(--it-common-white);
        transition: 0.3s;
        font-family: 'Font Awesome 5 Pro';
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
