@use '../utils' as *;

/*----------------------------------------*/
/*  15. Header css start
/*----------------------------------------*/
.hamburger-btn {
  width: 20px;
  height: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  // color: #000;
}

.hamburger-btn span {
  display: block;
  height: 2px;
  // background-color: #6DA48F; 
  background-color: #045454; 
  border-radius: 2px;
}

.it-header {
  &-top {
    &-area {
      @media #{$xs} {
        display: none;
      }

      @media #{$sm} {
        display: block;
      }
    }

    &-left {
      & ul {
        & li {
          padding: 13px 0;
          padding-right: 4px;
          display: inline-block;
          list-style: none;

          & span {
            color: var(--it-theme-1);
            margin-right: 14px;
          }

          & a {
            font-size: 15px;
            color: var(--it-common-white);
            margin-right: 20px;
          }

          &:hover a {
            color: var(--it-theme-1);
          }
        }
      }
    }

    &-money {
      & span {
        font-size: 15px;
        color: var(--it-common-white);
        margin-right: 20px;
      }
    }

    &-right-social {
      margin-left: 80px;

      &::before {
        position: absolute;
        width: 1px;
        height: 20px;
        left: -40px;
        content: '';
        background-color: var(--it-common-white);
      }

      & a {
        font-size: 15px;
        color: var(--it-common-white);
        margin-right: 14px;
        transition: 0.3s;

        &:hover {
          color: var(--it-theme-1);
        }
      }
    }
  }
  &-currency {
    position: relative;
    cursor: pointer;

    &-selected-currency {
      font-size: 15px;
      color: var(--it-common-white);
      background-color: transparent;
      position: relative;
      padding-right: 15px;
      transition: 0.3s;

      &::after {
        position: absolute;
        content: '\f107';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: var(--it-common-white);
        font-size: 14px;
        font-family: var(--it-ff-fontawesome);
      }

      &:hover {
        color: var(--it-theme-1);
      }
    }

    &-list {
      position: absolute;
      top: 120%;
      left: 0;
      background: #000;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
      z-index: 11;
      padding: 15px 15px;
      min-width: 100px;
      visibility: hidden;
      opacity: 0;
      transition: 0.2s;

      & li {
        list-style: none;
        color: var(--it-common-white);
        text-align: left;

        &:hover {
          color: var(--it-theme-1);
        }
      }

      &.it-currency-list-open {
        visibility: visible;
        opacity: 1;
        top: 100%;
      }
    }
  }
  &-lang {
    align-items: center;
    position: relative;
    margin-left: 25px;
    cursor: pointer;
    @media (max-width: 768px) {
      .it-header-lang {
        display: none;
      }
    }

    &-selected-lang {
      font-size: 15px;
      color: var(--it-common-black);
      background-color: transparent;
      position: relative;
      padding-right: 15px;
      transition: 0.3s;

      &::after {
        position: absolute;
        content: '\f107';
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: var(--it-common-white);
        font-size: 14px;
        font-family: var(--it-ff-vietnam);
      }

      &:hover {
        color: var(--it-theme-1);
      }
    }

    &-list {
      position: absolute;
      top: 120%;
      // left: 0;
      right: 0;
      background: #000;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
      z-index: 11;
      // padding-top: 50px;
      padding: 10px;
      min-width: 120px;
      // border-radius: 4px;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5px);
      transition: opacity 0.2s ease, transform 0.2s ease;
      text-align: center; /* Alinea el texto a la derecha */

      & li {
        padding: 8px 30px;
        display: flex;
        align-items: center;
        gap: 8px;
        color: #fff;
        transition: background-color 0.2s;
        font-size: 14px;
        font-family: var(--it-ff-vietnam);

        &:hover {
          color: var(--it-theme-1);
        }
      }

      &.it-lang-list-open {
        visibility: visible;
        opacity: 1;
        // top: 100%;
        transform: translateY(-5);
      }
    }
  }
  &-bottom {
    display: flex;
    background-color: var(--it-common-white);

    &-right {
      max-width: 100px;
      padding-right: 10px !important;
      flex-grow: 1;
      @media (max-width: 1199px) {
        .it-header-bottom-right {
          justify-content: flex-end !important;
        }
      
        .it-header-bar-wrap {
          display: block !important;
          margin-left: 10px;
        }
      }


      
      &-shop {
        & a {
          position: relative;
          width: 59px;
          height: 59px;
          display: inline-block;
          text-align: center;
          line-height: 50px;
          font-size: 24px;
          color: var(--it-common-black);
          border: 1px solid var(--it-grey-1);
          border-radius: 50%;

          &::before {
            position: absolute;
            width: 8px;
            height: 8px;
            top: 20px;
            right: 15px;
            content: '';
            background-color: var(--it-theme-1);
            border-radius: 50%;
          }

          &:hover {
            border-color: var(--it-theme-1);
          }
        }
      }

      &-button {
        @media #{$xs} {
          display: none;
        }

        @media #{$sm} {
          display: block;
          margin-left: 18px;
        }
      }
    }
  }
  &-bar {
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: right;
    // background-color: var(--it-common-white);
    // background-color: var(--it-theme-1);
    color: var(--it-theme-1);
    // color: var(--it-common-white);
    margin-left: 20px;
    border-radius:5px;
    transition: 0.3s;

    &:hover {
      color: var(--it-common-white);
      background-color: var(--it-theme-2);
    }

    @media (max-width: 991px) { // Tablets y pantallas medianas
      height: 50px;
      width: 50px;
      line-height: 50px;
      font-size: 18px;
    }

    @media (max-width: 576px) { // Móviles
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 16px;
    }
  }
  &-mob-space {
    display: block !important; // Eliminar el comportamiento flex
    padding: 0 !important;
    margin: 0 !important;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    // @media #{$lg,$md,$sm,$xs} {
    //   padding: 10px 0;
    // }
  }
  
}

.container-fluid {
  padding-left: 85px;
  padding-right: 85px;

  @media (max-width: 991px) { // Tablets y pantallas medianas
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 576px) { // Móviles
    padding-left: 15px;
    padding-right: 15px;
  }
}
.it-header-style-2 {
  & .it-header {
    &-bottom {
      &-right {
        &-shop {
          & a {
            border: 0;
            margin-left: 13px;
            transition: 0.3s;

            &:hover {
              color: var(--it-theme-1);
            }
          }
        }
      }
    }

    &-right {
      &-search {
        & span {
          display: inline-block;
          transition: 0.3s;

          &:hover {
            color: var(--it-theme-1);
          }
        }
      }
    }
  }
}
.it-header-style-4 {
  & .it-main-menu {
    & nav {
      & ul {
        & li {
          & a {
            padding: 26px;
            display: inline;
          }
        }
      }
    }
  }
}
.it-header-style-5 {
  & .it-header-top {
    &-left {
      & ul {
        & li {
          position: relative;
          margin-right: 10px;
          &::after {
            position: absolute;
            content: '';
            top: 0;
            right: 0;
            width: 1px;
            height: 104%;
            background: rgba(255, 255, 255, 0.3);
          }

          & span {
            color: var(--it-common-white);
          }
        }
      }
    }
  }
  & .it-main-menu {
    & nav {
      & ul {
        & li > .submenu {
          border-top: 0;
        }
      }
    }
  }
}

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  visibility: visible;
  width: 100%;
  z-index: 999;
  background-color: var(--it-common-white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: 0.95s ease 0s normal forwards 1 running headerSlideDown;
  & .it-header-top {
    display: none;
  }
}
