@use '../utils' as *;

/*----------------------------------------*/
/*  17. Menu css start
/*----------------------------------------*/

.it-main-menu {
  & nav {
    display: flex;
    // justify-content: flex-end;
    // margin-left: auto;
    & ul {
      display: flex;
      // justify-content: flex-end;
      & li {
        flex-grow: 0;
        text-align: left;
        position: relative;
        display: inline-block;
        padding: 16px 0;
        & > a {
          font-size: 17px;
          font-weight: 700;
          padding: 5px 26px;
          display: inline-block;
          color: var(--it-common-black);
          transition: 0.3s;
          text-decoration: none;
        }
        &:hover > a {
          color: var(--it-common-white);
          background-color: var(--it-theme-1);
        }
        & > .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          width: 260px;
          text-align: left;
          padding: 30px;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          transition-duration: 0.1s;
          transform-origin: top;
          transform: perspective(300px) rotateX(-18deg);
          border-top: 4px solid var(--it-theme-1);
          background-color: var(--it-common-black);
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          z-index: 9999;

          & > li {
            padding: 0;
            margin: 0;

            & > a {
              position: relative;
              padding: 0;
              display: block;
              color: var(--it-common-white);
              background: none;
              padding: 5px 0;

              &::before {
                position: absolute;
                top: 13px;
                left: 0;
                content: '';
                height: 1px;
                width: 0px;
                background-color: var(--it-theme-1);
                display: inline-block;
                transition: all 0.3s ease-out 0s;
                opacity: 0;
                visibility: hidden;
              }

              &:hover {
                padding-left: 30px;
                // display: block;

                &::before {
                  width: 20px;
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
        &:hover > .submenu {
          display: block;
          opacity: 1;
          visibility: visible;
          transition-duration: 0.2s;
          // transform: perspective(300px) rotateX(0deg);
          transform: none;
          display: block;
        }
        // &.has-dropdown::after {
        //   position: absolute;
        //   content: '\f107';
        //   font-family: var(--it-ff-fontawesome);
        //   display: inline-block;
        //   font-size: 16px;
        //   margin-left: 5px;
        //   font-weight: 400;
        //   transition: 0.3s;
        //   top: 50%;
        //   right: 7px;
        //   transform: translateY(-50%);
        //   color: var(--it-common-black);
        // }
        // &:hover.has-dropdown::after {
        //   top: 40%;
        //   transform: rotate(-180deg);
        //   color: var(--it-common-white);
        // }
      }
    }
  }
}
// .it-menu-mobile {
//   display: none;
//   &.active {
//     display: block;
//   }
//   @media (max-width: 1199px) {
//     .it-menu-mobile {
//       display: block;
//     }
//   }
//   & .it-submenu {
//     display: none;
//   }
//   & .it-menu-content {
//     margin-bottom: 70px;
//   }
//   & .home-img {
//     margin-bottom: 40px;
//   }
//   & ul {
//     position: static;
//     display: block;
//     box-shadow: none;
//     & > li {
//       list-style: none;
//       position: relative;
//       width: 100%;
//       padding: 0;
//       &:not(:last-child) {
//         & > a {
//           border-bottom: 1px solid rgba(255, 255, 255, 0.12);
//         }
//       }
//       &.has-dropdown {
//         & > a {
//           & .dropdown-toggle-btn {
//             position: absolute;
//             right: 0;
//             top: 25%;
//             @include transform(translateY(-2px));
//             font-size: 18px;
//             color: #7f8387;
//             font-family: 'Font Awesome 5 Pro';
//             transition: all 0.3s ease-in-out;
//             z-index: 1;
//             width: 25px;
//             height: 25px;
//             line-height: 22px;
//             text-align: center;
//             border: 1px solid rgba($color: #ffff, $alpha: 0.12);
//             transition: background-color 0.3s ease-in-out,
//               border-color 0.3s ease-in-out, color 0.3s ease-in-out;
//             & i {
//               transition: all 0.3s ease-in-out;
//               margin-left: 2px;
//             }
//             &.dropdown-opened {
//               & i {
//                 @include transform(rotate(90deg));
//               }
//             }
//             &:hover {
//               background-color: var(--it-theme-1);
//               border-color: var(--it-theme-1);
//               color: var(--it-common-white);
//               & i {
//                 color: var(--it-common-white);
//               }
//             }
//           }
//           &.expanded {
//             color: var(--it-theme-1);
//             & .dropdown-toggle-btn.dropdown-opened {
//               background-color: var(--it-theme-1);
//               border-color: var(--it-theme-1);
//               color: var(--it-common-white);
//               & i {
//                 color: var(--it-common-white);
//               }
//             }
//           }
//         }
//         &:hover {
//           & > a {
//             &::after {
//               color: var(--it-theme-green);
//             }
//           }
//         }
//       }
//       &:last-child {
//         & a {
//           & span {
//             border-bottom: 0;
//           }
//         }
//       }
//       & > a {
//         display: block;
//         font-size: 16px;
//         color: var(--it-common-white);
//         position: relative;
//         padding: 10px 0;
//         padding-right: 20px;
//         & svg {
//           @include transform(translateY(-2px));
//         }
//         & > i {
//           display: inline-block;
//           width: 11%;
//           margin-right: 13px;
//           @include transform(translateY(4px));
//           font-size: 21px;
//           line-height: 1;
//         }
//         & .menu-text {
//           font-size: 16px;
//           line-height: 11px;
//           border-bottom: 1px solid #eaebed;
//           width: 82%;
//           display: inline-block;
//           padding: 19px 0 17px;
//         }
//       }
//       & img {
//         width: 100%;
//       }
//       & ul {
//         padding: 0;

//         & li {
//           padding: 0;
//           & a {
//             margin-left: auto;
//             width: 93%;
//             padding: 10px 5%;
//             text-shadow: none !important;
//             visibility: visible;
//             padding-left: 0;
//             padding-right: 20px;
//           }

//           & li {
//             & a {
//               width: 88%;
//               padding: 10px 7%;
//               padding-left: 0;
//               padding-right: 20px;
//             }

//             & li {
//               & a {
//                 width: 83%;
//                 padding: 10px 9%;
//                 padding-left: 0;
//                 padding-right: 20px;
//               }

//               & li {
//                 & a {
//                   width: 68%;
//                   padding: 10px 11%;
//                   padding-left: 0;
//                   padding-right: 20px;
//                 }
//               }
//             }
//           }
//         }
//       }
//       &:hover {
//         & > a {
//           color: var(--it-theme-1);
//           &::after {
//             color: var(--it-theme-1);
//           }
//           & .dropdown-toggle-btn i {
//             color: var(--it-theme-1);
//           }
//         }

//         & .mega-menu {
//           visibility: visible;
//           opacity: 1;
//           top: 0;
//         }
//       }
//       & .mega-menu,
//       & .submenu {
//         position: static;
//         min-width: 100%;
//         padding: 0;
//         box-shadow: none;
//         visibility: visible;
//         opacity: 1;
//         display: none;
//         margin-top: 15px;
//         margin-bottom: 25px;
//         & li {
//           float: none;
//           display: block;
//           width: 100%;
//           padding: 0;
//           &:hover {
//             & a {
//               & .dropdown-toggle-btn {
//                 color: var(--it-theme-1);
//               }
//             }
//           }
//         }
//       }
//     }
//   }
//   .it-menu-content ul li:not(:last-child) .home-img-title a {
//     border-bottom: none;
//   }
//   & *ul,
//   & *li {
//     transition: none !important;
//   }
// }
// styles.scss

// styles.scss

.it-menu-mobile {
  color: var(--it-common-white);
  display: block;
  transition: all 0.4s ease-in-out;
  transform: translateY(0px);
  opacity: 1;

  &.active {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }

  .it-submenu {
    display: none;
    flex-direction: column; // Ordena verticalmente
    padding-left: 10px; // Espaciado para que se vea bien
    gap: 8px; // Espacio entre elementos
    &.d-block {
      display: flex;
    }

    li {
      display: block; // Asegura que cada elemento se muestre como bloque
    }

    a {
      display: block;
      padding: 5px 0; // Espaciado vertical entre elementos
      color: var(--it-common-white);
      text-decoration: none;
      font-size: 16px;

      &:hover {
        color: var(--it-theme-1);
      }
    }
  }

  .dropdown-toggle-btn {
    position: absolute;
    right: 0;
    top: 0%;
    font-size: 18px;
    color: #7f8387;
    border: 1px solid rgba(255, 255, 255, 0.12);
    transition: all 0.3s ease-in-out;

    i {
      transition: all 0.3s ease-in-out;
      margin-left: 2px;
    }

    &.dropdown-opened i {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: var(--it-theme-1);
      border-color: var(--it-theme-1);
      color: var(--it-common-white);

      i {
        color: var(--it-common-white);
      }
    }
  }
}

// Media query para activar el menú móvil
@media (max-width: 1199px) {
  .it-menu-mobile {
    color: var(--it-common-white);
    display: block;
  }
}

// Ajustes para el header en móviles
@media (max-width: 576px) {
  .it-header-bottom-area {
    padding: 8px 0; // Reducido para mejor proporción
    height: auto; // Eliminar altura fija
  }

  .it-header-bottom {
    padding: 8px 0; // Reducido para mejor proporción
  }

  .it-main-logo img {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .it-menu-toggle-btn {
    padding: 5px;
    margin-right: 5px;
    font-size: 24px;
    align-items: center;
  }
}

// Hamburger button
.it-menu-toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #004E89;

  &:hover {
    color: var(--it-theme-1);
  }
}
