@use '../utils' as *;

/*----------------------------------------*/
/*  23. Sidebar area start
/*----------------------------------------*/

.sidebar {
    &-container {
        position: relative;
        height: auto;
        overflow: visible; // Elimina cualquier restricción de overflow
      }
        
    &-fixed-sidebar {
        position: sticky;
        top: 20px; // Se quedará pegado cuando llegue a esta posición desde arriba
        height: fit-content; // Asegúrate de que el sidebar tenga una altura definida
        z-index: 1000;
        
      }
      
    
    &-wrapp {
        & p {
            margin-bottom: 23px;
        }
    }

    &-search {
        &-box {
            & input {
                padding: 0 55px 0 20px;
                border: 1px solid var(--it-theme-1);
            }
        }

        &-button {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            margin: auto;

            & i {
                color: var(--it-theme-1);
            }
        }
    }

    &-button {
        & button {
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;

            & i {
                color: var(--it-common-black);
            }
        }
    }

    &-widget {
        &-title {
            font-size: 26px;
        }

        &-list {
            & a {
                position: relative;
                display: block;
                padding: 20px 31px 20px 20px;
                color: var(--it-common-black);
                margin-bottom: 10px;
                border: 1px solid var(--it-theme-1);
                transition: .3s;

                &:hover {
                    color: var(--it-common-white);
                    background-color: var(--it-theme-1);

                    & i {
                        right: 15px;
                    }
                }
                &.active {
                    color: var(--it-common-white);
                    background-color: var(--it-theme-1);

                    & i {
                        right: 15px;
                    }
                }

                & i {
                    position: absolute;
                    top: 23px;
                    right: 20px;
                    transition: .3s;
                }
            }
        }
    }

    &-contact {
        padding: 72px 16px 50px 16px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
        z-index: 2;

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(24, 24, 24, 0.70);
            content: "";
            border-radius: 5px;
            z-index: -1;
        }

        &-call {
            & a {
                display: inline-block;
                font-size: 18px;
                font-weight: 600;
                color: var(--it-common-white);
                margin-bottom: 20px;

            }

            & i {
                display: block;
                font-size: 42px;
                color: var(--it-theme-2);
                margin-bottom: 10px;
            }
        }

        &-time {
            & span {
                display: inline-block;
                font-size: 14px;
                color: var(--it-common-white);
                margin-bottom: 15px;
            }
        }
    }

    &__main-thumb {
        & img {
            border-radius: 10px;
        }
    }

    &__title {
        font-size: 45px;
        margin-bottom: 20px;
    }

    &__banner {
        & img {
            border-radius: 10px;
        }

        &-right {
            padding: 46px 51px 50px 30px;
            background: var(--it-grey-1);
            border-radius: 10px;
        }

        &-title {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        &-list {
            & ul {
                & li {
                    position: relative;
                    list-style: none;
                    padding-left: 25px;
                    color: var(--it-common-black);
                    margin-bottom: 10px;

                    & i {
                        position: absolute;
                        color: var(--it-theme-2);
                        top: 3px;
                        left: 0;
                    }
                }
            }
        }

    }

    &__content {
        &-title {
            font-size: 40px;
        }
    }

    &__button {
        & a {
            text-transform: uppercase;
            border-radius: 50px;
        }
    }
}

.categories {
    & a {
        position: relative;
        padding: 15px 0px;
        font-size: 12px;
        font-weight: 700;
        display: block;
        color: #8A879F;
        text-transform: uppercase;
        margin-bottom: 15px;
        border-radius: 5px;
        transition: .3s;

        &:hover {
            color: var(--it-common-black);

            & i {
                right: -5px;
            }
        }

        & i {
            position: absolute;
            right: 0;
            transition: .3s;
        }
    }
}