@forward '../css/custom-animation.css';
@forward '../css/flaticon_travel-and-tour.css';
@forward '../css/font-awesome-pro.css';
@forward '../css/spacing.css';
@forward 'components/theme';
@forward 'components/spacing';
@forward 'components/buttons';
@forward 'components/animation';
@forward 'components/preloader';
@forward 'components/background';
@forward 'components/offcanvas';
@forward 'components/breadcrumb';
@forward 'components/nice-select';
@forward 'components/accordion';
@forward 'components/section-title';
@forward 'layout/header';
@forward 'layout/menu';
@forward 'layout/slider';
@forward 'layout/destination';
@forward 'layout/about';
@forward 'layout/featured';
@forward 'layout/testimonial';
@forward 'layout/blog';
@forward 'layout/checkout';
@forward 'layout/discover';
@forward 'layout/recent-post';
@forward 'layout/sidebar';
@forward 'layout/postbox';
@forward 'layout/error';
@forward 'layout/contact';
@forward 'layout/footer';
@forward 'layout/booking';
@forward 'layout/gallery';
@forward 'components/premium-home';
@forward 'components/premium-tour-page';
