$colors: (
    'common': (
        'white': #fff,
        'black': #161B18,
    ),
    'heading': (
        'primary': #161B18,
    ),
    'grey': (
        '1': #F3F8F6,
        '2': #fff4ef,
    ),
    'text': (
        'body':#6B6F6A,
    ),
    'theme': (
        '1':#0891b2,
        '2':#ED6A46,
        // '1':#11BB67,
        // '2':#FF6525,
    )
);
